<html>
	<head>
	</head>
	<body>
		<div>
		  <br/>
		  <strong>
		  	Med venlig hilsen / Best regards
		  </strong>
		  <br/>
		  %%displayname%%
		  <br/>
		  %%title%%, System Admins ApS
		  <br/>
		  <br/>
		  Phone: 
		  <a href="callto:%%phonenumber%%">
		  	%%phonenumber%%
		  </a>
		  <br/>
		  Mobile: 
		  <a href="callto:%%phonenumber%%">
		  	%%mobilephone%%
		  </a>
		  <br/>
		  E-mail: 
		  <a href="mailto:%%email%%">
		  	%%email%%
		  </a>
		  <br/>
		  Website: 
		  <a href="https://www.systemadmins.com">
		  	https://www.systemadmins.com
		  </a>
		</div>
	</body>
</html>